<header class="top-area">
  <div class="header-area">
    <div class="container">
      <div class="row">
        <div class="col-sm-2">
          <div class="logo">
            <%= link_to root_path do %>
              tour<span>Nest</span>
            <% end %>
          </div><!-- /.logo-->
        </div><!-- /.col-->
        <div class="col-sm-10">
          <div class="main-menu">

            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <i class="fa fa-bars"></i>
              </button><!-- / button-->
            </div><!-- /.navbar-header-->
            <div class="collapse navbar-collapse">
              <ul class="nav navbar-nav navbar-right">
                <li class="my-nav-item">
                  <%= link_to "Tours", tours_path %>
                </li>
                <li class="my-nav-item">
                  <%= link_to t("booking_tours"), booking_tours_path if current_user && !current_user.admin? %></li>
                  <%= link_to t("booking_tours"), booking_tours_path if current_user&.admin? %></li>

                <% if @current_user&.admin? %>
                  <li class="my-nav-item">
                    <%= link_to t("dashboard"), admin_dashboards_index_path(:tab => 'dashboard'), class: "smooth-menu" %></li>

                  <li class="my-nav-item">
                    <%= link_to t("reviews"), admin_reviews_path(:tab => 'reviews'), class: "smooth-menu" %></li>
                <% else %>
                  <li class="my-nav-item">
                    <%= link_to t("reviews"), reviews_path(:tab => 'reviews'), class: "smooth-menu" %></li>
                  <li class="my-nav-item"><%= link_to 'New Review', reviews_from_url_path, class: "smooth-menu" %></li>
                <% end %>
                <% if logged_in? %>
                  <li>
                    <a href="#">
                      <i class="font-size-30 color-ff8f00d9 fa fa-lock"></i>
                      <%= @current_user.name %>
                    </a>
                  </li>
                  <li>
                    <%= link_to logout_path, method: :DELETE  do %>
                      <i class="font-size-30 red-color fa fa-sign-out" aria-hidden="true"></i>
                      Logout
                    <% end %>
                  </li>
                <% else %>
                  <li>
                    <%= link_to "#", class: "btn btn-secondary btn_add", data: {toggle: "modal", target: "#exampleModal"} do %>
                      <i class="font-size-30 color-266f26 fa fa-user"></i>
                      Login
                    <% end %>
                  </li>
                <% end %><!--/.project-btn-->
              </ul>
            </div><!-- /.navbar-collapse -->
          </div><!-- /.main-menu-->
        </div><!-- /.col-->
      </div><!-- /.row -->
      <div class="home-border"></div><!-- /.home-border-->
    </div><!-- /.container-->
  </div><!-- /.header-area -->
</header>
