<tr>
  <td scope="row">#</td>
  <th scope="row">
    <%= link_to tour_path(booking_tour.tour.id) do %>
      <%= booking_tour.tour.name %>
    <% end %>
  </th>
  <td scope="row"><%= number_to_currency booking_tour.price %></td>
  <td scope="row"><%= t "duaration", count: booking_tour.duaration %></td>
  <td scope="row"><%= number_to_currency booking_tour.total_price %></td>
  <td scope="row"><%= booking_tour.start_date %></td>
  <td scope="row"><%= booking_tour.quantity_person %></td>
  <td scope="row"><%= booking_tour.customer_name %></td>
  <td scope="row"><%= booking_tour.customer_email %></td>
  <td scope="row"><%= booking_tour.customer_phone %></td>
  <th scope="row"><%= booking_tour.status %></th>
  <th scope="row">
    <% if booking_tour.waiting? %>
      <%= link_to booking_tour_path(id: booking_tour.id), method: :delete, data: {confirm: "Bạn có chắc chắn muốn hủy tour"},  class: "btn btn-danger", remote: true do %>
        <i class="fa fa-times-circle-o"></i> Cancel
      <% end %>
    <% end %>
  </th>
</tr>
